button{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    box-sizing: border-box;
}

button[slot="hotspot-test"] {
    --min-hotspot-opacity: 0;
    background-color: aqua;
}

.login_animation {
    position: absolute;
    width: 100%;
    height: 100%;
}