.light {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: black;
    box-sizing: border-box;
}


.rightcolumn {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    border-radius: 15px;
}

.leftcolumn {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    border-radius: 15px;
}

.door-section {
    display: block;
    width: 90px;
    height: 10px;
    /*border-radius: 10px;*/
    border: none;
    background-color: black;
    box-sizing: border-box;
}

.main-model {
    position: absolute;
    left: 25%;
    top: 1%;
    width: 50%;
    height: 800px;
}

body {
    font-family: 'Ubuntu';
    text-align: center;
    padding: 5px;
}

.door {
    width: 100%;
    height: 150px;
}